*.iml
.idea/
.gradle/
build/
bin/
target/
out/
src/main/resources/
mysql-connector-java-5.1.48-bin.jar
**/metastore_db/*
metastore_db/*
metastore_db/
spark-warehouse/*
spark-warehouse/
derby.log
**/derby.log
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
